hw3/CNN_model/.DS_Store
hw3/CNN_model/keras_metadata.pb
hw3/CNN_model/saved_model.pb
hw3/CNN_model/variables/variables.data-00000-of-00001
hw3/CNN_model/variables/variables.index
hw3/model_catexentropy_21_grad_b108/keras_metadata.pb
hw3/model_catexentropy_21_grad_b108/saved_model.pb
hw3/model_catexentropy_21_grad_b108/variables/variables.data-00000-of-00001
hw3/model_catexentropy_21_grad_b108/variables/variables.index
hw3/model_catexentropy_21_grad_b108_2/keras_metadata.pb
hw3/model_catexentropy_21_grad_b108_2/saved_model.pb
hw3/model_catexentropy_21_grad_b108_2/variables/variables.data-00000-of-00001
hw3/model_catexentropy_21_grad_b108_2/variables/variables.index
hw3/model_catexentropy_31_esl_grad/keras_metadata.pb
hw3/model_catexentropy_31_esl_grad/saved_model.pb
hw3/model_catexentropy_31_esl_grad/variables/variables.data-00000-of-00001
hw3/model_catexentropy_31_esl_grad/variables/variables.index
hw3/model_catexentropy_31_esl00015/keras_metadata.pb
hw3/model_catexentropy_31_esl00015/saved_model.pb
hw3/model_catexentropy_31_esl00015/variables/variables.data-00000-of-00001
hw3/model_catexentropy_31_esl00015/variables/variables.index
hw3/model_catexentropy_31_grad_b108/keras_metadata.pb
hw3/model_catexentropy_31_grad_b108/saved_model.pb
hw3/model_catexentropy_31_grad_b108/variables/variables.data-00000-of-00001
hw3/model_catexentropy_31_grad_b108/variables/variables.index
hw3/model_spars_catexentropy_21_grad_b108/keras_metadata.pb
hw3/model_spars_catexentropy_21_grad_b108/saved_model.pb
hw3/model_spars_catexentropy_21_grad_b108/variables/variables.data-00000-of-00001
hw3/model_spars_catexentropy_21_grad_b108/variables/variables.index
hw3/model_spars_catexentropy_21_grad_b108_2/keras_metadata.pb
hw3/model_spars_catexentropy_21_grad_b108_2/saved_model.pb
hw3/model_spars_catexentropy_21_grad_b108_2/variables/variables.data-00000-of-00001
hw3/model_spars_catexentropy_21_grad_b108_2/variables/variables.index
hw3/model_spars_catexentropy_31_esl_grad/keras_metadata.pb
hw3/model_spars_catexentropy_31_esl_grad/saved_model.pb
hw3/model_spars_catexentropy_31_esl_grad/variables/variables.data-00000-of-00001
hw3/model_spars_catexentropy_31_esl_grad/variables/variables.index
hw3/model_spars_catexentropy_31_esl00015/keras_metadata.pb
hw3/model_spars_catexentropy_31_esl00015/saved_model.pb
hw3/model_spars_catexentropy_31_esl00015/variables/variables.data-00000-of-00001
hw3/model_spars_catexentropy_31_esl00015/variables/variables.index
hw3/model_spars_catexentropy_31_grad_b108/keras_metadata.pb
hw3/model_spars_catexentropy_31_grad_b108/saved_model.pb
hw3/model_spars_catexentropy_31_grad_b108/variables/variables.data-00000-of-00001
hw3/model_spars_catexentropy_31_grad_b108/variables/variables.index
hw3/.DS_Store
lect_originalEX/cats_and_dogs.zip
.DS_Store
project/Global_Mobility_Report.csv
project/Spotify.zip
